<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <title>HIB Admin panel</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/sig.css" rel="stylesheet" type="text/css">
    <link href="/static/css/admin/books.css" rel="stylesheet">
    <link href="/static/css/admin/orders.css" rel="stylesheet" type="text/css">
    <link href="/static/css/admin/feedback.css" rel="stylesheet">
    <link href="/static/css/error.css" rel="stylesheet">
    <link href="/static/css/admin/users.css" rel="stylesheet">

    <!--<script src="/static/js/lib/popper.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>-->
</head>
<body>

<div th:replace="admin/admin-nav :: nav-bar"></div>

<br>

<div class="row">
    <div class="col-2">
        <div th:replace="admin/admin-nav :: side-bar"></div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent" th:switch="${#httpServletRequest.getRequestURI()}">
            <th:block th:case="'/admin/panel/edit-welcome'">
                <div th:replace="admin/edit-welcome :: edit-welcome"></div>
            </th:block>
            <th:block th:case="'/admin/panel/books'">
                <div th:replace="admin/books :: books"></div>
                <div th:replace="admin/books :: edit-book-modal"></div>
            </th:block>
            <th:block th:case="'/admin/panel/categories'">
                <div th:replace="admin/categories :: categories"></div>
            </th:block>
            <th:block th:case="'/admin/panel/feedback'">
                <div th:replace="admin/feedback :: feedback"></div>
                <div th:replace="admin/feedback :: modal-reply"></div>
            </th:block>
            <th:block th:case="'/admin/panel/edit-footer'">
                <div th:replace="admin/edit-footer :: edit-footer"></div>
            </th:block>
            <th:block th:case="'/admin/panel/orders'">
                <div th:replace="admin/orders :: orders"></div>
            </th:block>
            <th:block th:case="'/gmail/admin'">
                <div th:replace="admin/orders :: orders"></div>
            </th:block>
            <th:block th:case="'/admin/panel/users'">
                <div th:replace="admin/users :: users"></div>
                <div th:replace="admin/users :: users-modal"></div>
            </th:block>
            <th:block th:case="*">
                <div th:replace="error :: not-found"></div>
            </th:block>
        </div>
    </div>
</div>
<div class="row orders-pageable">
    <div class="dropdown dropdown-header"><label id="orders-on-page-loc">Заказов на странице</label>
        <button class="btn btn-primary dropdown-toggle" type="button" id="ordersAmountPerPage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
        <div class="dropdown-menu" aria-labelledby="ordersAmountPerPage">
            <a class="dropdown-item" href="#" onclick="setOrdersAmountInPage(10)">10</a>
            <a class="dropdown-item" href="#" onclick="setOrdersAmountInPage(50)">50</a>
            <a class="dropdown-item" href="#" onclick="setOrdersAmountInPage(100)">100</a>
        </div>
    </div>
    <div id="rowForPagination"></div>
</div>

<script src="/static/js/utils/common-function.js"></script>
<script src="../static/js/main.js"></script>

<script crossorigin="anonymous" src="https://kit.fontawesome.com/db08edad0b.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>


</body>
</html>
