<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Books Fragment</title>
</head>
<body>
<div aria-labelledby="v-pills-profile-tab"
     class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
     th:fragment="books">
    <link href="/static/css/admin/adminTree.css" rel="stylesheet">
    <nav>
        <div class="nav nav-tabs" id="nav-tab1" role="tablist">
            <a aria-controls="nav-home" aria-selected="true" class="nav-item nav-link active all-books-loc" data-toggle="tab"
               href="#nav-home1" id="nav-home-tab1" role="tab">All Books</a>
            <a aria-controls="nav-profile" aria-selected="false" class="nav-item nav-link add-books-loc" data-toggle="tab"
               href="#nav-profile1"
               id="nav-profile-tab1" onclick="addPage()" role="tab">Add Book</a>
            <a aria-controls="nav-profile" aria-selected="false" class="nav-item nav-link add-hib-files-loc" data-toggle="tab"
               href="#add-hib-files" id="add-hib-files-tab" role="tab">Add hib files</a>
        </div>
    </nav>
    <div class="tab-content tab - border" id="nav-tabContent1">
        <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home1" role="tabpanel">
            <!--<div>asdasd</div>-->
            <div th:insert="search :: search-page"></div>
            <!--<th:block th:include="search :: search-page">-->
        </div>
        <div aria-labelledby="nav-profile-tab1" class="tab-pane fade" id="nav-profile1" role="tabpanel">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light add-new-book-loc">Add new Book</li>
            </ul>
            <div class="container-fluid">
                <div class="row">
                    <div class="container-fluid col-6">
                        <div class="row">
                            <h3 class="col-6 is-disabled-dots-loc">
                                Is disabled:
                            </h3>
                            <input type="checkbox" id="disabled" checked data-toggle="toggle">
                        </div>
                    </div>
                    <button class='btn btn-primary col-4 btn-metro offset-2 add-new-book-loc' onclick='addNewBook()' type='submit'>Add
                        new Book
                    </button>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active add-name-loc" id="name-tab" data-toggle="tab" href="#name" role="tab" aria-controls="home" aria-selected="true">Add name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link add-author-loc" id="author-tab" data-toggle="tab" href="#author" role="tab" aria-controls="profile" aria-selected="false">Add author</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link add-description-loc" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="contact" aria-selected="false">Add description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link add-addition-loc" id="edition-tab" data-toggle="tab" href="#edition" role="tab" aria-controls="contact" aria-selected="false">Add edition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link add-other-loc" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="contact" aria-selected="false">Add other</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link category-loc" id="category-tab " data-toggle="tab" href="#category" role="tab" aria-controls="contact" aria-selected="false">Category</a>
                    </li>
                </ul>
            </div>
            <form id="newBookForm" role="form">
            </form>
        </div>
        <div aria-labelledby="add-hib-files-tab" class="tab-pane fade" id="add-hib-files" role="tabpanel">
            <div class="row">
                <div class="col-sm-4 offset-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title update-one-book-loc">Upload one Book</h5>
                            <form action="/api/admin/upload-multiply-files" enctype="multipart/form-data" method="POST">
                                <input accept=".hib" class="form-control-file" id="add-hib-file-input" name="files"
                                       type="file">
                                <button id="uploadOneFileHidden" style="display: none"></button>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-success btn-metro col-5 edit-and-upload-loc" onclick="editHibFile()">Edit and
                                Upload
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title upload-several-longphrase-loc">Upload several books for further processing</h5>
                            <form action="/api/admin/upload-multiply-files" enctype="multipart/form-data" method="POST">
                                <input accept=".hib" class="form-control-file" id="add-hib-files-input" multiple
                                       name="files" type="file">
                                <button id="uploadMultiplyFilesHidden" style="display: none"></button>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-info btn-metro upload-to-server-loc" onclick="uploadMultiplyFiles()">Upload to server
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <table class="table table-sm table-sm bg-white" id="hibFilesTable">
                <thead>
                <tr height="50">
                    <th width="10"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/admin/uploadHibFiles.js"></script>
    <script src="/static/js/admin/addBook.js"></script>
    <script src="/static/js/admin/editWelcome.js"></script>
    <script src="/static/js/utils/translate.js"></script>
</div>

<div aria-hidden="true"
     aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static" data-keyboard="false"
     id="asdddd" role="dialog" tabindex="-1" th:fragment="edit-book-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title edit-book-loc" id="exampleModalLabel">Edit Book</h5>
                <button aria-label="Close" class="close" data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="custom-centered" id="editBookForm" role="form">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
