<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Welcome Fragment</title>
</head>
<body>
<div aria-labelledby="v-pills-home-tab"
     class="tab-pane fade mt-3 show active" id="v-pills-home" role="tabpanel"
     th:fragment="edit-welcome">
    <script src="/static/js/main.js"></script>
    <script src="/static/js/admin/realEditWelcome.js"></script>

    <h1>Edit Welcome</h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a aria-controls="nav-home" aria-selected="true" class="nav-item nav-link active" data-toggle="tab"
               href="#nav-home" id="nav-home-tab" role="tab">Edit welcome</a>
            <!--            <a aria-controls="nav-profile" aria-selected="false" class="nav-item nav-link" data-toggle="tab"-->
            <!--               href="#nav-profile" id="nav-profile-tab" role="tab">empty</a>-->
        </div>
    </nav>
    <div class="tab-content tab - border" id="nav-tabContent">
        <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
            <div class="form-group">
                <form id="form_id">
                </form>
            </div>
        </div>
        <!--        <div aria-labelledby="nav-profile-tab" class="tab-pane fade " id="nav-profile" role="tabpanel">-->
        <!--            <ul class="list-group">-->
        <!--                <li class="list-group-item list-group-item-light">.паро</li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
</div>
</body>
</html>