<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Feedback fragment</title>
</head>
<body>
<div aria-labelledby="v-pills-feedback-tab"
     class="tab-pane fade mt-3 show active" id="v-pills-feedback" role="tabpanel"
     th:fragment="feedback">
    <div class="card">
        <div id="alert-container">
        </div>
        <div class="card-header">
            Feedback requests
        </div>
        <div class="card-body">
            <table class="table" id="feedback-request-table">
                <thead id="getFeedbackRequestTable">
                <tr>
                    <th>ID</th>
                    <th>Sender name</th>
                    <th>E-mail</th>
                    <th>Content</th>
                    <th>Reply</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div aria-hidden="true"
     aria-labelledby="exampleModalLabel" class="modal fade" id="feedback-request-modal" role="dialog"
     tabindex="-1" th:fragment="modal-reply">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="sender-name">Recipient:</label>
                        <input class="form-control" disabled id="sender-name" type="email">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="sender-message">Message:</label>
                        <textarea class="form-control" disabled id="sender-message" type="email"></textarea>
                    </div>
                </form>
                <div class="container" id="interested-book" style="display: none">
                    <label>Interested book:</label>
                    <div class="row">
                        <img alt="interested book" class="col-sm-3" height="150"
                             id="interested-image"
                             src="https://upload.wikimedia.org/wikipedia/ru/6/6f/The_Witcher_3_-_Blood_and_Wine_Cover.jpg"
                             width="100">
                        <div class="col-sm-6">
                            <a href="" id="interested-title" target="_blank"></a>
                        </div>
                    </div>
                </div>
                <br>
                <form id="reply-form">
                    <div class="form-group">
                        <label class="col-form-label" for="sender-email">E-mail:</label>
                        <input class="form-control" disabled id="sender-email" type="email">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="reply-message-subject">Subject:</label>
                        <input class="form-control" id="reply-message-subject" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="reply-message-text">Reply Message:</label>
                        <textarea class="form-control" id="reply-message-text"></textarea>
                    </div>
                    <input id="reply-id" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="submit-btn" onclick="" type="button">Send message to
                    email
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>