#ask-interested-image {
    position: absolute;
    bottom: 10px;
    left: 12px;
    z-index: 1;
}

#img-close {
    position: absolute;
    bottom: 80px;
    left: 60px;
    z-index: 10;
    cursor:pointer;
}

#img-close:hover {
    transform: scale(1.5);
}