<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--    <title>Your Website Title</title>-->
    <!--    <meta property="og:url"           th:content="'http://77.222.63.141.xip.io:8080/page/' + ${book}"/>-->
    <!--    <meta property="og:type"          content="website" />-->
    <!--    <meta property="og:title"         th:content="${pageBook.name.getEn()}" />-->
    <!--    <meta property="og:description"   th:content="${pageBook.description.getEn()}" />-->
    <!--    <meta property="og:image"         th:content="'http://77.222.63.141.xip.io:8080/images/book' + ${book} + '/1.jpg'" />-->

    <div th:switch="${isPage}">
        <span th:case="1">
        <meta property="og:url" th:content="'http://77.222.63.141.xip.io:8080/page/' + ${book}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" th:content="${pageBook.name.getEn()}"/>
        <meta property="og:description" th:content="${pageBook.description.getEn()}"/>
        <meta property="og:image" th:content="'http://77.222.63.141.xip.io:8080/images/book' + ${book} + '/1.jpg'"/>

            </span>
        <div th:case="*">
            <title>History in books</title>
        </div>
    </div>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
    <link href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="/static/css/user/sidebar/main.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/user/sidebar/sidebar-themes.css" rel="stylesheet">
    <link href="/static/css/user/modal/mail.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/themify-icons.css" rel="stylesheet">
    <link href="/static/css/bootstrap-social.css" rel="stylesheet"/>
    <link href="/static/fonts/font.css" rel="stylesheet">
    <link href="/static/fonts/font-awesome.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/error.css" rel="stylesheet">
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/popper.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/user/bucketCount.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/db08edad0b.js"></script>
</head>
<body>

<div id="page-wrapper" class="page-wrapper default-theme sidebar-bg bg1 toggled pinned">
    <div class="wide top">
        <h2 id="greekText"></h2>
        <h3 id="engText"></h3>
    </div>
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="sidebar-wrapper" id="sidebar">
        <div class="sidebar-content">
            <!--    Sidebar-brand    -->
            <div class="sidebar-item sidebar-brand">
                <a id="mainNameInPage" href="/home">HIB</a>
            </div>
            <!--    Sidebar-header    -->
            <div class="sidebar-menu sidebar-header d-flex flex-nowrap">
                <th:block sec:authorize="!isAuthenticated()">
                    <ul>
                        <li>
                            <a data-target="#signModal"
                               data-toggle="modal" id="signModalBtn" onclick="setCurrentPageToCookie()">
                                <i class="iconify"></i>
                                <span class="menu-text signin-loc">Sign In</span>
                            </a>
                        </li>
                    </ul>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="user-info">
                        <span class="user-name">
                            <strong id="first-last-name"></strong>
                        </span>
                        <span id="user-email" class="user-role"
                              th:text="${#authentication.getPrincipal().getEmail()}">email of user</span>
                    </div>
                </th:block>
            </div>
            <th:block sec:authorize="isAuthenticated()">
                <a class="d-block text-center mb-4" style="background-color: #303030" href="/logout">
                    <i class="fa fa-power-off text-center"></i>
                </a>
            </th:block>
            <!--    Sidebar-search    -->
            <div class="sidebar-item sidebar-search dropdown">
                <div>
                    <div class="input-group">

                        <input class="form-control dropdown-toggle search-menu search-input-dots-loc" autocomplete="off"
                               data-toggle="dropdown" id="searchInput"
                               placeholder="Search..." type="text">

                        <div class="input-group-append">
                                <span class="input-group-text" id="searchIcon">
                                    <i aria-hidden="true" class="fa fa-search"></i>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="ul-books dropdown-menu" style="color: #000000;"></div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/search' ? 'active' : ''}">
                        <a href="/search">
                            <i class="fas fa-filter"></i>
                            <span class="menu-text" id="link_search_page_header">Search page</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--    Sidebar-menu    -->
            <div class="sidebar-item sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span id="header-general-loc">General</span>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active' : ''}">
                        <a href="/home">
                            <i class="fas fa-book"></i>
                            <span class="menu-text" id="link_main_header">Main</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-sitemap"></i>
                            <span class="menu-text" id="categories">Categories</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul id="primaryCategories">
                            </ul>
                        </div>
                    </li>
                    <th:block sec:authorize="!hasRole('ADMIN')">
                        <li class="header-menu">
                            <span class="myprof-loc">Profile</span>
                        </li>
                        <li sec:authorize="hasRole('USER')"
                            th:classappend="${#httpServletRequest.getRequestURI() == '/profile/orders' ? 'active' : ''}">
                            <a href="/profile/orders">

                                <i class="fas fa-shopping-bag"><span class="badgeStyle"
                                                                     id="orders-quantity1"></span></i>
                                <span class="menu-text my-orders-loc" id="oders">My orders</span>

                                <span class="badge badge-pill badge-danger" id="orders-quantity"></span>
                            </a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/shopping-cart' ? 'active' : ''}">
                            <a href="/shopping-cart">
                                <i class="fa fa-shopping-cart"><span class="badgeStyle" id="bucketIn1"></span></i>
                                <span class="menu-text" id="headerShoppingCart">Shopping cart</span>
                                <span class="badge badge-pill badge-danger" id="bucketIn"></span>
                            </a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <li class="header-menu">
                            <span class="admin-loc">Admin</span>
                        </li>
                        <li>
                            <a href="/admin/panel/books">
                                <i class="fas fa-users-cog"></i>
                                <span class="menu-text admin-panel-loc">Admin panel</span>
                            </a>
                        </li>
                    </th:block>
                    <li class="header-menu">
                        <span id="header-settings-loc">Settings</span>
                    </li>
                    <th:block sec:authorize="hasRole('USER')">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/profile/settings' ? 'active' : ''}">
                            <a href="/profile/settings">
                                <i class="fas fa-user-cog"></i>
                                <span class="menu-text" id="settingprofile">Account settings</span>
                            </a>
                        </li>
                    </th:block>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-language"></i>
                            <span class="menu-text" id="language-left-panel">Language</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul id="sidebarLanguages">
                                <!--                                <li>-->
                                <!--                                    <a href="#">Russian</a>-->
                                <!--                                </li>-->
                                <!--                                <li>-->
                                <!--                                    <a href="#">English</a>-->
                                <!--                                </li>-->
                                <!--                                <li>-->
                                <!--                                    <a href="#">Italian</a>-->
                                <!--                                </li>-->
                            </ul>
                        </div>
                    </li>
                    <th:block sec:authorize="!hasRole('ADMIN')">
                        <li class="header-menu">
                            <span class="contact-us">Contact us</span>
                        </li>
                        <li>
                            <a data-target="#feedback-modal" data-toggle="modal" href="">
                                <i class="far fa-comment-dots"></i>
                                <span class="ask-question-loc">Ask a question</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <!-- sidebar-footer  -->
        <!--        <div class="sidebar-footer">-->
        <!--            <div class="pinned-footer">-->
        <!--                <a href="#">-->
        <!--                    <i class="fas fa-ellipsis-h"></i>-->
        <!--                </a>-->
        <!--            </div>-->
        <!--        </div>-->
    </nav>
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
         id="staticBackdrop"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
                <div class="alert alert-success" id="idMessagesSuccess" role="alert">
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="feedback-modal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title contact-us">Contact us</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="feedback-form">
                        <div class="form-group">
                            <label class="col-form-label" for="sender-name" id="enter-name">Your name: *</label>
                            <input class="form-control" id="sender-name" required type="text">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="sender-email" id="enter-email">Your Email: *</label>
                            <input class="form-control" id="sender-email" required type="email">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="sender-message" id="enter-message">Message: *</label>
                            <textarea class="form-control" id="sender-message" required></textarea>
                        </div>
                        <button hidden id="hidden-submit-btn-feedback" type="submit">HiddenButtonToSubmitFeedbackForm
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <img id="img-close" src="../../static/images/redClose.png" width="15px" height="15px"
                         onclick="deleteBookFromRequest()">
                    <img alt="ask-interested-book" height="80" width="55"
                         id="ask-interested-image"
                         src="">
                    <button class="btn btn-secondary closeModalBtn" data-dismiss="modal" type="button">Close
                    </button>
                    <button class="btn btn-primary" id="send-feedback-request" type="button">Send message</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="signModal" role="dialog"
         tabindex="-1"
         th:fragment="sign-in-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header mx-3">
                    <h5 class="header-title-sign-in mb-0 signin-loc" id="exampleModalLabel">Sign in</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-lg-2 mx-sm-1">
                    <form action="/login" id="form-login" method="post" name="form-login" role="form"
                          th:action="@{/login}">
                        <div class="form-group">
                            <label id="login-input-label" class="login-loc" for="loginInput">Email</label>
                            <input class="form-control login-input-loc" id="loginInput" name="username"
                                   placeholder="Email"
                                   required type="email">
                        </div>
                        <div class="form-group">
                            <label id="password-input-label" class="password-input-label"
                                   for="passwordInput">Password</label>
                            <input class="form-control password-input-loc" id="passwordInput" name="password"
                                   placeholder="Password" required type="password">
                        </div>
                        <div class="custom-control custom-checkbox mb-4">
                            <input class="custom-control-input" id="checkboxRememberMe" type="checkbox">
                            <label class="custom-control-label checkboxRememberMe-loc" for="checkboxRememberMe">Remember
                                me</label>
                            <button class="btn btn-primary btn-block col-6 pull-right mr-1 signin-loc"
                                    id="sign_in_btn"
                                    onclick="sendSignInForm()" type="button">Sign in
                            </button>
                        </div>
                        <button hidden id="hidden_submit_btn" type="submit">HiddenButtonToSubmitLoginForm</button>
                    </form>
                    <div class="row px-3" th:if="${errorMessage}!=null">
                        <!--/*@thymesVar id="getMessage" type="com.project.model.FormLoginErrorMessageDTO"*/-->
                        <h5 class="col-12 p-3 rounded text-center alert-danger" id="errorMessage"
                            th:if="${errorMessage.isHasError()}" th:text="${errorMessage.getMessage()}"></h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 pr-lg-1 mt-1">
                            <a class="btn btn-block btn-social btn-google text-white"
                               th:href="@{/oauth2/authorize/google}">
                                <span class="fa fa-google mr-2"></span>
                                <div class="signup-google-btn">Sign up with Google</div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-sm-12 pl-lg-1 mt-1">
                            <a class="btn btn-block btn-social btn-facebook text-white"
                               th:href="@{/oauth2/authorize/facebook}">
                                <span class="fa fa-facebook-f"></span>
                                <div class="signup-fb-btn">Sign up with Facebook</div>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer mt-3">
                        <a class="btn col-12 border mt-3 register-new-btn" href="/registration" role="button"
                           style="background-color: #AEC5EB">Register new
                            profile</a>

                        <a class="btn btn-warning col-12 border mt-3 forgot-pass-btn" href="/resetPassword"

                           style="background-color: #E9AFA3"
                           type="button">Forgot your password?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/utils/common-function.js"></script>
    <script src="/static/js/utils/liveSearch.js"></script>

    <!--    Page-content    -->
    <th:block
            th:if="${#httpServletRequest.getRequestURI() == '/home' || #httpServletRequest.getRequestURI().contains('error')}">
        <th:block th:include="home :: page-content">
        </th:block>
    </th:block>
    <!--    Page-content    -->
    <th:block
            th:if="${#httpServletRequest.getRequestURI() == '/registration'}">
        <th:block th:include="registration:: register">
        </th:block>
    </th:block>
    <th:block
            th:if="${#httpServletRequest.getRequestURI() == '/resetPassword'}">
        <th:block th:include="resetPassword:: reset">
        </th:block>
    </th:block>
    <th:block
            th:if="${#httpServletRequest.getRequestURI() == '/1clickreg'}">
        <th:block th:include="reg1Click:: register">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI().contains('not-found')}">
        <th:block th:include="error :: not-found">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI().contains('err/server-error')}">
        <th:block th:include="error :: server-error">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI() == '/profile/orders'}">
        <th:block th:include="cabinet :: orders">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI() == '/profile/settings'}">
        <th:block th:include="cabinet :: settings">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI() == '/shopping-cart'}">
        <th:block th:include="cabinet :: shopping-cart">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI().contains('/page/')}">
        <th:block th:include="page :: book-page">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI().contains('/category/')}">
        <th:block th:include="categories :: category">
        </th:block>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI().contains('/search')}">
        <th:block th:include="search :: search-page">
        </th:block>
    </th:block>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">
</script>
<script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/user/userSidebar.js"></script>
<script src="/static/js/user/contactForm.js"></script>
<script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/footerBuilder.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        setTimeout(() => {
            $(".preloader").hide("slow");
        }, 300)
    });
</script>

<script src="/static/js/user/profile/profile.js"></script>
<script src="/static/js/user/page.js"></script>

</body>
<!--user-page.html-->
</html>
