<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/lib/jquery.min.js"></script>
    <script src="../../static/js/lib/popper.min.js"></script>
    <script src="../../static/js/lib/bootstrap.min.js"></script>
    <title>Error</title>

</head>
<body>
<div class="text-center">
    <h2 class="text-center mt-5 text-white bg-danger h1">404</h2>
    <h2 class="text-center mb-3 text-dark">Sorry, but we can`t find this page</h2>
    <a href="/home" class="btn btn-outline-danger">Come back</a>
    <div></div>
    <p></p>
    <br>
    <div id="floatBarsG">
        <div id="floatBarsG_1" class="floatBarsG"></div>
        <div id="floatBarsG_2" class="floatBarsG"></div>
        <div id="floatBarsG_3" class="floatBarsG"></div>
        <div id="floatBarsG_4" class="floatBarsG"></div>
        <div id="floatBarsG_5" class="floatBarsG"></div>
        <div id="floatBarsG_6" class="floatBarsG"></div>
        <div id="floatBarsG_7" class="floatBarsG"></div>
        <div id="floatBarsG_8" class="floatBarsG"></div>
    </div>
</div>
</body>
</html>