<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/sig.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HIB Admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto col-8">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="false">Edit Welcome</a>
            <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="true">Books</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade mt-3" id="v-pills-home" role="tabpanel"
                 aria-labelledby="v-pills-home-tab">
                <h1>Edit Welcome</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Edit welcome</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">empty</a>
                    </div>
                </nav>
                <div class="tab-content tab - border" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="form-group">
                            <form id="form_id">
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">.паро</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade  show active" id="v-pills-profile" role="tabpanel"
                 aria-labelledby="v-pills-profile-tab">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab1" data-toggle="tab" href="#nav-home1"
                           role="tab" aria-controls="nav-home" aria-selected="true">AllBooks</a>
                        <a class="nav-item nav-link" id="nav-profile-tab1" onclick="addPage()" data-toggle="tab"
                           href="#nav-profile1"
                           role="tab" aria-controls="nav-profile" aria-selected="false">Add Book</a>
                    </div>
                </nav>
                <div class="tab-content tab - border" id="nav-tabContent1">
                    <div class="tab-pane fade show active" id="nav-home1" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="table">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">All Books</li>
                            </ul>
                            <div class="btn-group" id="chlang1">
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagination00">
                                </ul>
                            </nav>
                            <table class="table table-striped">
                                <thead>
                                <tr id="table0">
                                </tr>
                                </thead>
                                <tbody id="extra">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab1">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Add new Book</li>
                        </ul>
                        <form role="form" id="newBookForm">
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="exampleFormFile">Image input</label>
                                <input type="file" class="form-control-file" id="exampleFormFile">
                            </div>
                        </form>











                        <div id="carouselExampleCaptions" class="carousel slide w-50" data-ride="carousel">
                            <ol class="carousel-indicators" id = 'test0'>
                            </ol>
                            <div class="carousel-inner" id = 'test1'>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <button type='submit' onclick='addBook()' class='btn btn-primary mt-3'>
                            Add new Book
                        </button>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="asdddd" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" class="custom-centered" id="editBookForm">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/editWelcome.js"></script>
</body>
</html>