<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home fragments</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="d-flex" th:fragment="page-content">
    <p id="text" class="req-approve-loc"></p>
    <div class="container-fluid page-content offset-1 col-10">
        <span class="font-weight-light" id="oneClickRegGuide"></span>
        <img src="../static/images/oneClickExample.jpg" alt="One click registration example"/>
</body>
</html>