<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/font.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/cabinet.css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/db08edad0b.js"></script>
</head>
<body>
<nav th:replace="home-old :: nav-bar"></nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <ul class="nav flex-column mt-2" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="MyProfile-tab" data-toggle="tab" href="#MyProfile" role="tab"
                       aria-controls="MyProfile">
                        <h5 class="myprof-loc">My profile</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Orders-tab" data-toggle="tab" href="#Orders" role="tab"
                       aria-controls="Orders">
                        <h5 id="oders" onclick="showListOrders()"> Orders</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="setFieldsChangePersonalInformation()" id="SettingsProfile-tab"
                       data-toggle="tab" href="#SettingsProfile" role="tab"
                       aria-controls="SettingsProfile">
                        <h5 id="settingprofile">Settings profile</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Basket-tab" data-toggle="tab" href="#Basket" role="tab"
                       aria-controls="Basket">
                        <h5 id="shoppingcart">Shopping cart</h5>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="MyProfile" role="tabpanel" aria-labelledby="MyProfile-tab">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="my-profile-container">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-bottom: 0 !important">
                    <div class="col-md-12 my-profile-name">
                        <h1 class="h2" id="profile-name">User</h1>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="col-md-3">
                        <div class="my-profile-data">
                            <h3 class="h5" id="profile-orders">##</h3>
                            <h3 class="h5">Orders</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-profile-data">
                            <h3 class="h5" id="profile-in-progress">##</h3>
                            <h3 class="h5">In progress</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-profile-data">
                            <h3 class="h5" id="profile-delivered">##</h3>
                            <h3 class="h5">Delivered</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-profile-data" id="last-cell">
                            <h3 class="h5" id="profile-bucket">##</h3>
                            <h3 class="h5">Shopping cart</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div aria-labelledby="Orders-tab" class="tab-pane fade" id="Orders" role="tabpanel" th:fragment="orders">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="/static/fonts/font.css" rel="stylesheet">
        <link href="css/cabinet.css" rel="stylesheet" type="text/css">
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/db08edad0b.js"></script>
        <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade" id="ordermodal"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id='modalHeader'>Заказ номер 1</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <table class="table table-sm table-sm bg-white">
                            <h5 class="align-content-center mt-2">YOUR PURCHASES</h5>
                            <thead>
                            <tr height="50">
                                <th width="10"></th>
                                <th></th>
                                <th>Items</th>
                                <th>Unit price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody id='ordermodalbody'>
                            </tbody>
                            <tbody>
                            <tr>
                            </tr>
                            <tr>
                            <tr height="50">
                                <th width="10"></th>
                                <th></th>
                                <th></th>
                                <th>
                                    <a>Subtotal:</a>
                                    <p>Shipping cost:</p>
                                </th>
                                <th>
                                    <a id="subtotalordermodal"></a>
                                    <p id="shippingcostordermodal"></p>
                                </th>
                            </tr>
                            <tr>
                            <tr height="50">
                                <th width="10"></th>
                                <th></th>
                                <th></th>
                                <th>Total price:</th>
                                <th id="pricetotalordermodal"></th>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                        <h6 class="mt-1">Delivery address:</h6>
                        <div id="shippingaddressordermodal" style="line-height: 2.5px; font-size: large"></div>
                        </table>
                        <div class="mt-1"><h6>Order status:</h6>
                            <p id="ordestatus"></p>
                            <p id="ordertrack"></p></div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-ifno" data-dismiss="modal" id="modalClose"
                                style="background-color: #f5f5f5"
                                type="button">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <main role="main" class="col-auto">
            <h1 class="align-content-center mt-3">Orders</h1>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <table class="table table-sm table-sm bg-white">
                    <thead>
                    <tr height="50">
                        <th width="10"></th>
                        <th>Order No.</th>
                        <th>Date of order</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="listorders">
                    </tbody>
                </table>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/user/order/order.js"></script>
        <script src="/static/js/user/profile/profile.js"></script>
        <script src="/static/js/user/order/shoppingCart.js"></script>
        <script src="/static/js/utils/common-function.js"></script>
        <script src="/static/js/user/home.js"></script>
    </div>
    <div aria-labelledby="SettingsProfile-tab"
         class="tab-pane fade" id="SettingsProfile" role="tabpanel" th:fragment="settings">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="/static/fonts/font.css" rel="stylesheet">
        <link href="css/cabinet.css" rel="stylesheet" type="text/css">
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/db08edad0b.js"></script>
        <main role="main" class="col-auto">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Settings Profile</h1>
            </div>
            <ul class="nav nav-pills mb-3" id="Settings-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="PersonalInformation-tab" data-toggle="pill"
                       href="#PersonalInformation" role="tab" aria-controls="PersonalInformation" aria-selected="true">Personal
                        Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="PasswordChange-tab" data-toggle="pill" href="#PasswordChange" role="tab"
                       aria-controls="PasswordChange" aria-selected="false">Password Change</a>
                </li>
            </ul>
            <div class="tab-content" id="Settings-tabContent">
                <div class="tab-pane fade show active" id="PersonalInformation" role="tabpanel"
                     aria-labelledby="PersonalInformation-tab">
                    <form>
                        <div class="teswt112">
                            <div class="form-group">
                                <label for="fieldEmail">Email address</label>
                                <input type="email" class="form-control" id="fieldEmail" aria-describedby="emailHelp">
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="alert alert-danger" role="alert" id="errorMessageEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fieldFirstName">First Name</label>
                                <input type="text" class="form-control" id="fieldFirstName">
                            </div>
                            <div class="form-group">
                                <label for="fieldLastName">Last Name</label>
                                <input type="text" class="form-control" id="fieldLastName">
                            </div>
                        </div>
                    </form>
                    <button type="submit" onclick="savePersonalInformation()" class="btn btn-primary">Save</button>
                </div>
                <div class="tab-pane fade" id="PasswordChange" role="tabpanel" aria-labelledby="PasswordChange-tab">
                    <form>
                        <div class="teswt112">
                            <div class="form-group">
                                <label for="oldPassword">Enter old password</label>
                                <input type="password" class="form-control" id="oldPassword">
                            </div>
                            <div class="form-group">
                                <label for="enterPassword">Enter new password</label>
                                <input type="password" class="form-control" id="enterPassword">
                            </div>
                            <div class="form-group">
                                <label for="enterPasswordAgain">Enter new password again</label>
                                <input type="password" class="form-control" id="enterPasswordAgain">
                            </div>
                            <div class="collapse" id="collapsePassword">
                                <div class="alert alert-danger" role="alert" id="errorMessagePassword">
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="submit" onclick="savePassword()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/user/order/order.js"></script>
        <script src="/static/js/user/profile/profile.js"></script>
        <script src="/static/js/user/order/shoppingCart.js"></script>
        <script src="/static/js/utils/common-function.js"></script>
        <script src="/static/js/user/home.js"></script>
    </div>
    <div aria-labelledby="Basket-tab"
         class="tab-pane fade" id="Basket" role="tabpanel" th:fragment="shopping-cart">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="/static/fonts/font.css" rel="stylesheet">
        <link href="css/cabinet.css" rel="stylesheet" type="text/css">
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/db08edad0b.js"></script>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/themify-icons.css" rel="stylesheet">
        <link href="/static/css/bootstrap-social.css" rel="stylesheet"/>
        <link href="/static/fonts/font.css" rel="stylesheet">
        <link href="/static/fonts/font-awesome.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/lib/popper.min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <br>
        <main role="main" class="col-auto">
            <div class="alert alert-warning alert-dismissible fade" id="saveAddressAlert" role="alert">
                <strong>Would you like to save the address?</strong>
                <button class=" col-2 btn btn-success btn-metro offset-7" onclick="saveAddress()">Save</button>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p></p>
            <h1 class="h2" id="headershoppingcart">Shopping cart</h1>
            <ul class="nav nav-tabs" id="cartTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" href="#home" style="pointer-events: none">Your shopping
                        cart</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" id="deliveryaddress" href="#delivery" style="pointer-events: none">Delivery
                        address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="summary-tab" href="#Summary" style="pointer-events: none">Summary</a>
                </li>
            </ul>
            <div class="tab-content" id="cartTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-sm table-sm bg-white">
                        <thead>
                        <tr height="50">
                            <th width="10"></th>
                            <th></th>
                            <th id="book_author">Книга | Автор</th>
                            <th id="price">Цена</th>
                            <th id="quantity">Кол-во</th>
                            <th id="delete">Убрать</th>
                        </tr>
                        </thead>
                        <tbody id='newTab'>
                        </tbody>
                        <tbody>
                        <tr>
                            <th width="10"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th width="10"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th id="totalPrice"></th>
                            <th><a id="sum"></a></th>
                        </tr>

                        <tr style="height: 15px">
                            <th width="10"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                <button class="btn btn-primary" id="chechout" onclick="showAddressTab()" type="button">
                                    Checkout
                                </button>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                    <div class="container mt-2">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <input id="autocomplete" th:disabled=*{disabledAutocomplete}
                                       placeholder="221B Baker Street, London, United Kingdom" onFocus="geolocate()"
                                       type="text" class="form-control col-sm-7">
                                <br>
                                <select class="form-control col-7" id="addressSelect">
                                    <option selected>Select from saved</option>
                                </select>
                                <br>
                                <div id="address">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-2 col-form-label">Country/Zip code</label>
                                        <div class="col-md-3 pl-0 pr-1">
                                            <input class="form-control" id="country" placeholder="Country">
                                        </div>
                                        <div class="col-md-2 pl-0">
                                            <input class="form-control" id="postal_code" placeholder="Zip code">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-2 col-form-label">City/State</label>
                                        <div class="col-sm-2 pl-0 pr-1">
                                            <input class="form-control field" id="locality" placeholder="City">
                                        </div>
                                        <div class="col-sm-3 pl-0">
                                            <input class="form-control" id="administrative_area_level_1"
                                                   placeholder="State">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-2 col-form-label">Street</label>
                                        <div class="col-md-4 pl-0">
                                            <input class="form-control" id="route" placeholder="Street">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-2 col-form-label">House/Flat</label>
                                        <div class="col-md-2 pl-0 pr-1">
                                            <input class="form-control" id="street_number" placeholder="House">
                                        </div>
                                        <div class="col-md-2 pl-0">
                                            <input class="form-control" id="flat" placeholder="Flat">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-2 col-form-label">First name</label>
                                        <div class="col-md-4 pl-0">
                                            <input class="form-control" id="firstName" th:attr="value=*{firstName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-2 col-form-label">Last name</label>
                                        <div class="col-md-4 pl-0">
                                            <input class="form-control" id="lastName" th:attr="value=*{lastName}">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row mb-2">
                                        <div class="offset-mb-1">
                                            <button type="button" class="btn btn-secondary btn-md"
                                                    onclick="showShoppingCart()">Back
                                            </button>
                                        </div>
                                        <div class="col-md-3 offset-md-4">
                                            <button onclick="confirmAddress()" type="button"
                                                    class="btn btn-primary bt-lg">Confirm
                                                address
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="Summary" role="tabpanel" aria-labelledby="Summary-tab">
                    <div class="card">
                        <table class="table table-sm table-sm bg-white">
                            <h2 class="align-content-center card-header mt-2">YOUR PURCHASES</h2>
                            <thead>
                            <tr height="50">
                                <th width="10"></th>
                                <th></th>
                                <th>Items</th>
                                <th>Unit price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody id='orderTab'>
                            </tbody>
                            <tbody>
                            <tr>
                            </tr>
                            <tr>
                            <tr height="50">
                                <th width="10"></th>
                                <th></th>
                                <th></th>
                                <th>
                                    <a>Subtotal:</a>
                                    <p>Shipping cost:</p>
                                </th>
                                <th>
                                    <a id="subtotal"></a>
                                    <p id="shippingcost"></p>
                                </th>
                            </tr>
                            <tr>
                            <tr height="50">
                                <th width="10"></th>
                                <th></th>
                                <th></th>
                                <th>Total price:</th>
                                <th id="pricetotal"></th>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                        <h4 class="mt-1 card-header ">Delivery address:</h4>
                        <div class="card-body" id="shippingaddress" style="line-height: 4px; font-size: large"></div>
                        <div class="form-group card-footer  row mt-2 ml-0" style="width: 67.2rem;">
                            <div class=" col-4">
                                <button class="btn btn-secondary btn-block" onclick="showAddressTab()" type="button">
                                    Back
                                </button>
                            </div>
                            <div class="col-4 ">
                                <button class="btn bt-lg btn-block btn-success"
                                        onclick="confirmPurchase()"
                                        type="button">Buy Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/user/order/order.js"></script>
        <script src="/static/js/user/profile/profile.js"></script>
        <script src="/static/js/user/order/shoppingCart.js"></script>
        <script src="/static/js/utils/common-function.js"></script>
        <script src="/static/js/user/home.js"></script>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/user/order/order.js"></script>
<script src="/static/js/user/profile/profile.js"></script>
<script src="/static/js/user/profile/orderStates.js"></script>
<script src="/static/js/user/order/shoppingCart.js"></script>
<script src="/static/js/utils/common-function.js"></script>
<script th:attr="src=*{key}" async defer></script>
</body>
</html>
