<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Search</title>
</head>
<body>

<div class="d-flex" th:fragment="order">
    <!--    Page container    -->
    <div class="container-fluid page-content offset-1 col-10">
        <div class="row">
            <!--    Main    -->
            <div class="col-lg-10 col-md-12 main">
                <h3 id="guideTitle"></h3>

                <h5>Step 1</h5>
                <h6 id="step1"></h6>
                <div id="addToCart" class="btn btn-success addToCartBtn btn-metro" style="width: 272px">
                    Добавить в корзину
                </div>
                <h5>Step 2</h5>
                <h6 id="step2"></h6>

                <h5>Step 3</h5>
                <h6 id="step3"></h6>
                <button class="btn btn-primary" id="1click-reg-btn" type="button">
                    Купить без регистрации
                </button>
                <h5>Step 4</h5>
                <h6 id="step4"></h6>

                <h5>Step 5</h5>
                <h6 id="step5"></h6>

                <h5>Step 6</h5>
                <h6 id="step6"></h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>