<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<a th:href="@{/admin/add}">Создать</a>

<br><a th:href="@{/user}">Юзер</a>

<form name='f' th:action="@{/admin/add}" method='POST'>

    <table border="1" cellspacing="0" cellpadding="2">
        <tr>
            <td>ID</td>
            <td>Login</td>
            <td>Password</td>
            <td>Role</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>


        <th:block th:each="msg : ${messages}">
            <tr>

                <td th:utext="${msg.id}"></td>
                <td th:utext="${msg.username}"></td>
                <td th:utext="${msg.password}"></td>
                <td>
                    <th:block th:each="roleee : ${msg.role}">
                        <th:block th:utext="${roleee.role}"></th:block>
                    </th:block>
                </td>

                <td><a th:href="@{'/admin/edit?username=' + ${msg.username} + '&id=' + ${msg.id}}">Изменить</a></td>
                <td>
                    <a th:href="@{'/admin/del?username=' + ${msg.username} + '&id=' + ${msg.id} + '&password=' + ${msg.password}}">Удалить</a>
                </td>
            </tr>

        </th:block>


    </table>
</form>

<th:authorize access="isAuthenticated()">
    <h4><a href="/logout">Выйти</a></h4>
</th:authorize>

</body>
</html>