<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="css/sig.css">
</head>
<body>


<nav class="navbar  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PP09</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <authorize access="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </authorize>
        </li>
    </ul>
</nav>

<div class="row">
    <div class="col-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="/admin" class="nav-link active">Admin</a>
            </li>
            <li class="nav-item">
                <a href="/user" class="nav-link">User</a>
            </li>
        </ul>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active mt-3" id="v-pills-home" role="tabpanel"
                 aria-labelledby="v-pills-home-tab">

                <h1>Admin panel</h1>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>

                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">New user</a>


                    </div>
                </nav>


                <div class="tab-content tab - border" id="nav-tabContent">


                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="table">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">All users</li>
                            </ul>


                            <table class="table table-striped" id="extra">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>


                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Add new user</li>
                        </ul>

                        <form role="form" class="custom-centered" id="newUserForm">

                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username"
                                       aria-describedby="emailHelp" placeholder="Enter Username">

                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password"
                                       placeholder="Enter Password">
                            </div>

                            <div class="form-group">
                                <label for="exampleInput">Roles</label>
                                <div class="border" id="border">

                                </div>
                            </div>
                            <button type="submit"  class="btn btn-primary custom-centered">Add new
                                user
                            </button>


                        </form>


                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="asdddd" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"> ///
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit
                    username
                </h5>
                <button type="button" onclick="asdqwe()" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form role="form" class="custom-centered">

                    <div class="form-group">
                        <label for="exampleInputId">Id</label>
                        <input type="text" class="form-control"
                               id="exampleInputId"
                               aria-describedby="emailHelp" placeholder="Id"
                               readonly>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail11">Username</label>
                        <input type="text" class="form-control"
                               id="exampleInputEmail11"
                               aria-describedby="emailHelp"
                               placeholder="Enter Username">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword11">Password</label>
                        <input type="password" class="form-control"
                               id="exampleInputPassword11"
                               placeholder="Password">
                    </div>


                    <div class="form-group">
                        <label for="exampleInput11">Role</label>
                        <div class="border" id="border1">


                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="button"  class="btn btn-primary"
                                data-dismiss="modal">Save changes
                        </button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>





</body>
</html>