
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home fragments</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="d-flex" th:fragment="page-content">

    <div class="wide top">
        <h2>ΠΑΛΑΙΑ & Σπάνια βιβλία</h2>
        <h3>OLD & RARE BOOKS</h3>
    </div>


    <div class="container-fluid page-content offset-1 col-10">
        <hr>
        <!--        for cards        -->
        <div class="offset-1">
            <h2 id="headpost">You can read this</h2>
            <br>
        </div>
        <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 pt-2" id="cardcolumns">
        </div>
        <div class="container col-2 offset-5">
            <div class="row">
                <div class="dropdown dropdown-header">Book on page
                    <button class="btn btn-primary dropdown-toggle" type="button" id="ddmAmountBook"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
                    <div class="dropdown-menu" aria-labelledby="ddmAmountBook">
                        <a class="dropdown-item" href="#" onclick="setAmountBooksInPage(10)">10</a>
                        <a class="dropdown-item" href="#" onclick="setAmountBooksInPage(50)">50</a>
                        <a class="dropdown-item" href="#" onclick="setAmountBooksInPage(100)">100</a>
                    </div>
                </div>
                <div id="rowForPagination"></div>
            </div>
        </div>
        <!--        footer       -->
        <div class="container-fluid text-center footer pt-3 p-0 " th:fragment="footer">
            <div class="footer_menu" id="footer-menu"></div>
            <div class="footer_made_by pt-2"><a id="made_by">Created by JavaMentor® Team</a></div>
        </div>
    </div>
</div>
</body>
</html>
