<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>
</head>
<body>

<div class="d-flex">
    <header th:replace="home-old :: nav-bar"></header>

    <!--    page container    -->
    <div class="container page-content" th:fragment="book-page">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-social.css" rel="stylesheet"/>
        <link href="/static/fonts/font-awesome.css" rel="stylesheet">
        <link href="/static/fonts/font.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/page.css" rel="stylesheet">
        <link href="/static/css/themify-icons.css" rel="stylesheet">
        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/lib/popper.min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/db08edad0b.js"></script>


        <div class="book-background w-auto p-3">

            <div class="col-sm-8 col-md-9 ml-auto col-xl-10">
                <div class="row">
                    <div class="col-3 h-100">
                        <div id="CardImageOrCarousel">
                        </div>
                    </div>
                    <div class="col-9 container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="font-weight-light title">Title: <span class="font-weight-normal"
                                                                                 id="book-name">Book title</span>
                                </h4>
                                <h4 class="font-weight-light author">Author: <span class="font-weight-normal"
                                                                                   id="book-author">Book author</span>
                                </h4>
                                <h4 class="font-weight-light edition">Edition: <span class="font-weight-normal"
                                                                                     id="book-edition">Book edition</span>
                                </h4>
                            </div>
                            <div class="col-6">
                                <h4 class="font-weight-light original-language">Original language: <span
                                        class="font-weight-normal"
                                        id="book-original-language">Original language</span>
                                </h4>
                                <h4 class="font-weight-light amount-of-pages">Amount of pages: <span
                                        class="font-weight-normal"
                                        id="book-amount-of-pages">Amount of pages</span>
                                </h4>
                                <h4 class="font-weight-light year-of-edition">Year of edition: <span
                                        class="font-weight-normal"
                                        id="book-year-of-edition">Year of edition</span>
                                </h4>
                            </div>
                            <div class="col-12">
                                <br>
                                <span class="font-weight-light" id="book-desc">
                                    Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
                                    blanditiis corporis dolorem eveniet fugiat harum iste iusto, laborum maxime
                                    minima mollitia placeat provident quia quos recusandae reiciendis, saepe unde
                                    voluptatem? Animi corporis explicabo ipsam iure non? Blanditiis eveniet fuga
                                    illum provident quaerat quo tempora! Cupiditate dicta dolore eum optio sunt.
                                </span>
                            </div>
                            <br><br><br><br><br><br>
                            <div class="col-12">

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-2">
                                            <h4 class="font-weight-light price">Price:</h4>
                                            <span class="font-weight-normal" id="book-price">15.00$</span>
                                        </div>
                                        <div class="col-8 offset-2">
                                            <br>
                                            <div class="container">
                                                <div class="row">
                                                    <th:block sec:authorize="!hasRole('ADMIN')">
                                                        <button class="btn btn-info col-5 btn-metro btn-info-inverse"
                                                                id="ask-question"
                                                                type="button">Ask a
                                                            question
                                                        </button>
                                                        <button class="btn btn-info col-5 offset-1 btn-metro addToCartBtn"
                                                                id="addToCart"
                                                                type="button">
                                                            Add to cart
                                                        </button>
                                                    </th:block>
                                                    <th:block sec:authorize="hasRole('ADMIN')">
                                                        <button class="btn btn-warning btn-metro col-8 offset-4"
                                                                onclick="openEdit()">Edit book
                                                        </button>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a hidden id="bookid" th:value="${book}"></a>
        </div>
        <!--        footer       -->
        <div class="footer pt-3 p-0 container-fluid text-center" th:replace="home-old :: footer">
        </div>
        <script src="/static/js/utils/common-function.js"></script>
        <script src="/static/js/user/home.js"></script>
        <script src="/static/js/user/page.js"></script>
        <script src="/static/js/footerBuilder.js"></script>


    </div>

</div>


<div class="modal fade" id="signModal" role="dialog" tabindex="-1" th:replace="home-old :: sign-in-modal"
     aria-labelledby="exampleModalLabel">
</div>

<div th:replace="home-old :: contact-button"></div>


</body>
<!--page.html-->
</html>
