<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-social.css"/>
    <link href="../static/fonts/font.css" rel="stylesheet">
    <link href="../static/fonts/font-awesome.css" rel="stylesheet">
    <script src="../static/js/lib/jquery.min.js"></script>
    <script src="../static/js/lib/popper.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <title>Recovery password</title>
</head>
<body>

    <div class="container page-content">
        <div class="container mt-0 col-sm-12 col-lg-6 col-md-8 rounded-pill">
            <div class="col-12 shadow form-border-radius">
                <div class="modal-header">
                    <h4 class="my-2">Password recovery</h4>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="newPass">Enter new password</label>
                        <input type="password" class="form-control" id="newPass">
                    </div>
                    <div class="form-group">
                        <label for="newPass0">Enter new password again</label>
                        <input type="password" class="form-control" id="newPass0">
                    </div>
                    <div class="collapse" id="collapsePassword">
                        <div class="alert alert-danger" role="alert" id="errorMessagePassword">
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-success col-12 mb-4 mx-0"
                            onclick="sendNewPass()">Save
                    </button>
                </div>
            </div>
        </div>


        <!--        footer       -->
        <div class="footer pt-3 p-0 container-fluid text-center" th:replace="home-old :: footer">
        </div>
    </div>
</div>

<!--modal window for sing in-->

<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mx-3">
                <h5 class="header-title-sign-in mb-0" id="exampleModalLabel">Sign in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-lg-2 mx-sm-1">
                <form action="/login" th:action="@{/login}" role="form" method="post" id="form-login" name="form-login">
                    <div class="form-group">
                        <label for="loginInput">Login</label>
                        <input type="text" class="form-control" id="loginInput" name="username" placeholder="Login"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" name="password"
                               placeholder="Password" required>
                    </div>
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="checkboxRememberMe">
                        <label class="custom-control-label" for="checkboxRememberMe">Remember me</label>
                    </div>
                    <button type="submit" hidden id="hidden_submit_btn">HiddenButtonToSubmitLoginForm</button>
                </form>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 pr-lg-1 mt-1">
                        <a class="btn btn-block btn-social btn-google text-white">
                            <span class="fa fa-google mr-2"></span>Sign up with Google
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-12 pl-lg-1 mt-1">
                        <a class="btn btn-block btn-social btn-facebook text-white">
                            <span class="fa fa-facebook-f"></span>Sign up with Facebook
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer mx-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="sign_in_btn" onclick="sendSignInForm()">Sign in
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-body">
            <div class="" role="alert" id="idMessagesSuccess">
            </div>
        </div>
    </div>
</div>
<script src="../static/js/utils/common-function.js"></script>
<script src="../static/js/user/auth/newPass.js"></script>
</body>
</html>