<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home fragments</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="d-flex">
    <p id="texts"></p>
    <div class="container-fluid page-content offset-1 col-10">
        <hr>
        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/utils/reqOperation.js"></script>
    </div>
</div>
</body>
</html>
