<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Search</title>
</head>
<body>

<div class="d-flex" th:fragment="search-page">>

    <!--    page container    -->

    <div class="container-fluid page-content offset-1 col-10">
        <div class="row">

            <!--    main    -->

            <div class="col-10 main">
                <div class="input-group mb-1">
                    <input class="form-control" id="search-input" placeholder="Search..." type="text">
                    <div class="input-group-append">
                                <span class="input-group-text" onclick="advancedSearch()">
                                    <i aria-hidden="true" class="fa fa-search"></i>
                                </span>
                    </div>
                </div>
                <table class="table table-striped table-sm bg-white text-center">

                </table>
            </div>

            <!--    sidebar    -->

            <div class="col-2 sidebar">
                <div class="flex-column" id="search-sidebar" aria-orientation="vertical">
                    <form id="search-form">
                        <div class="form-group sidebar-item">
                            <label for="input-pages" class="font-weight-bold" id="search_by_search_page_menu">Search by...</label>
                            <div class="form-group" id="search-by">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" name="searchBy"
                                           id="search-by-name-author" value="name-author" checked>
                                    <label class="custom-control-label" for="search-by-name-author" id="name_and_author_search_page-menu">
                                        name and author
                                    </label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" name="searchBy" id="search-by-name"
                                           value="name">
                                    <label class="custom-control-label" for="search-by-name" id="name_search_page_menu">
                                        name
                                    </label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" name="searchBy"
                                           id="search-by-author" value="author">
                                    <label class="custom-control-label" for="search-by-author" id="author_search_page_menu">
                                        author
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-categories" class="font-weight-bold" id="categories_search_page_menu">Categories</label>
                            <div id="input-categories">

                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-price" class="font-weight-bold" id="price_search_page_menu">Price, €</label>
                            <div class="form-row" id="input-price">
                                <div class="col-auto mb-1">
                                    <input type="number" step="any" min="0" class="form-control" id="input-price-from"
                                           name="priceFrom" placeholder="From">
                                </div>
                                <div class="col-auto">
                                    <input type="number" step="any" min="0" class="form-control" id="input-price-to"
                                           name="priceTo" placeholder="To">
                                </div>
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-year-edition" class="font-weight-bold" id="edition_search_page_menu">Year of edition</label>
                            <input type="number" class="form-control" id="input-year-edition" name="yearOfEdition">
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-pages" class="font-weight-bold" id="pages_search_page_menu">Number of pages</label>
                            <input type="number" class="form-control" id="input-pages" name="pages">
                        </div>
                        <button id="search-submit" class="btn btn-block btn-success" type="button"
                                onclick="advancedSearch()">Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--        footer       -->
        <div class="footer pt-3 p-0 container-fluid text-center" th:replace="home-old :: footer">
        </div>
    </div>
    <script src="/static/js/utils/search.js"></script>
</div>
</body>
</html>