<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-social.css"/>
    <link href="../static/fonts/font-awesome.css" rel="stylesheet">
    <link href="../static/fonts/font.css" rel="stylesheet">
    <link href="../static/fonts/font.css" rel="stylesheet">
    <script src="../static/js/lib/jquery.min.js"></script>
    <script src="../static/js/lib/popper.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

<div class="container-fluid">
    <header>
        <nav class="navbar navbar-light bg-light  navbar-expand-md  fixed-top">
            <a class="navbar-brand header-title-big d-lg-block d-none">History in Books</a>
            <a class="navbar-brand header-title-little d-lg-none d-md-block">HIB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" id="toggleBtn">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn pl-2 btn-header" id="link_main_header"
                                onclick="document.location.href='/home'">Main
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn pl-2 btn-header" id="link_books_header">Books</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn pl-2 btn-header" id="menu-toggle">Category</button>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <button class="btn pl-2 btn-header" id="link_admin_page"
                                onclick="document.location.href='/admin'">Admin
                        </button>
                    </li>
                </ul>
                <div class="dropdown mr-2 mb-2 mt-2">
                    <a class="btn dropdown-toggle border" href="#" role="button" id="dd_menu_link"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:attr="data-current-lang=${#httpSession.getAttribute('LANG')}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dd_menu_link" id="dd_menu">
                    </div>
                </div>
                <form class="form-inline mr-lg-2 mb-2 mt-2 mr-md-2" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control border" placeholder="" aria-label=""
                               aria-describedby="basic-addon1" name="request">
                        <div class="input-group-append">
                            <button class="btn border" type="submit">
                                <img src="../static/icons/search.svg" alt="" height="16" width="16"></button>
                        </div>
                    </div>
                </form>
                <div>
                    <div sec:authorize="isAuthenticated() != true">
                        <form action="#" class="m-0 ml-sm-0">
                            <button type="button" class="btn btn-header border m-0" data-toggle="modal"
                                    data-target="#signModal" id="signModalBtn">
                                <span id="signin_btn_text">Sign In</span>
                            </button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form action="/logout" class="m-0 ml-sm-0">
                            <button type="submit" class="btn btn-header border m-0" id="logoutButton">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!--    page container    -->

    <div class="container page-content">
        <div class="row">

            <!--    main    -->

            <div class="col-10 main">
                <div class="input-group mb-1">
                    <input class="form-control" id="searchInput" placeholder="Search..." type="text">
                    <div class="input-group-append">
                                <span class="input-group-text" id="searchIcon">
                                    <i aria-hidden="true" class="fa fa-search"></i>
                                </span>
                    </div>
                </div>
                    <table class="table table-striped table-sm bg-white">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id='resultSearch'>
                        </tbody>
                    </table>
                    <div id="catTable">
                    </div>
                    <hr>
                    <br>
            </div>

            <!--    sidebar    -->

            <div class="col-2 sidebar">
                <div class="flex-column" id="search-sidebar" aria-orientation="vertical">
                    <form id="search-form">
                        <div class="form-group sidebar-item">
                            <label for="input-pages" class="font-weight-bold">Search by...</label>
                            <div class="form-group" id="search-by">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="searchBy" id="search-by-name-author" value="" checked>
                                    <label class="form-check-label" for="search-by-name-author">
                                        name and author
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="searchBy" id="search-by-name" value="">
                                    <label class="form-check-label" for="search-by-name">
                                        name
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="searchBy" id="search-by-author" value="">
                                    <label class="form-check-label" for="search-by-author">
                                        author
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group sidebar-item form-check">
                            <input class="form-check-input" type="checkbox" value="" id="input-disabled">
                            <label class="form-check-label font-weight-bold" for="input-disabled">
                                On sale
                            </label>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-categories" class="font-weight-bold">Categories</label>
                            <div id="input-categories">
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-price" class="font-weight-bold">Price</label>
                            <div class="form-row" id="input-price">
                                <div class="col-auto mb-1">
                                    <input type="number" class="form-control" id="input-price-from" placeholder="From">
                                </div>
                                <div class="col-auto">
                                    <input type="number" class="form-control" id="input-price-to" placeholder="To">
                                </div>
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-author" class="font-weight-bold">Author</label>
                            <div id="input-author">
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-edition" class="font-weight-bold">Edition</label>
                            <div id="input-edition">
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-year-edition" class="font-weight-bold">Year of edition</label>
                            <div id="input-year-edition">
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-pages" class="font-weight-bold">Number of pages</label>
                            <div id="input-pages">
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-original-language1" class="font-weight-bold original-language">Original language: <span
                                    class="font-weight-normal"
                                    id="book-original-language">Original language</span></label>
                            <div id="input-original-language1">
                            </div>
                        </div>
                        <div class="form-group sidebar-item">
                            <label for="input-original-language" class="font-weight-bold">Original language</label>
                            <div id="input-original-language">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--        footer       -->
        <div class="footer pt-3 p-0 container-fluid text-center" th:replace="home-old :: footer">
        </div>
    </div>
</div>

<!--modal window for sing in-->

<div class="modal fade" id="signModal" role="dialog" tabindex="-1" th:replace="home-old :: sign-in-modal"
     aria-labelledby="exampleModalLabel">
</div>


<a id="request" th:value="${request}" hidden></a>
<script src="../static/js/utils/search.js"></script>
<script src="../static/js/utils/common-function.js"></script>
<script src="/static/js/footerBuilder.js"></script>
</body>
</html>