<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Search</title>
</head>
<body>
<div class="d-flex" th:fragment="search-page">
    <!--    Page container    -->
    <div class="container-fluid page-content offset-1 col-10">
        <div class="row">
            <!--    Main    -->
            <div class="col-xl-9 col-md-12 main">
                <div class="shadow p-4 mb-4 bg-white">
                    <div class="input-group mb-1">
                        <input class="form-control search-input-dots-loc" id="search-input" placeholder="Search..." type="text">
                        <div class="input-group-append">
                                <span class="input-group-text search-submit">
                                    <i aria-hidden="true" class="fa fa-search"></i>
                                </span>
                        </div>
                    </div>
                    <table class="table table-striped table-sm bg-white text-center" id="search-table-result">
                    </table>
                    <br/>
                    <div class="container offset-5">
                        <div id="rowForPagination"></div>
                        <br/>
                        <div class="dropdown dropdown-header ml-n4">
                            Book on page
                            <button class="btn btn-primary dropdown-toggle" type="button" id="ddmAmountBook"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
                            <div class="dropdown-menu" aria-labelledby="ddmAmountBook">
                                <a class="dropdown-item" href="#" onclick="setAmountBooksInPage(10)">10</a>
                                <a class="dropdown-item" href="#" onclick="setAmountBooksInPage(50)">50</a>
                                <a class="dropdown-item" href="#" onclick="setAmountBooksInPage(100)">100</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    Sidebar    -->
            <div class="col-xl-3 sidebar">
                <div class="flex-column" id="search-sidebar">
                    <form id="search-form" class="container-fluid">
                        <div class="row">
                            <div class="form-group sidebar-item col-lg-12 col-md-4">
                                <label for="input-pages" class="font-weight-bold search-by-dots-loc" id="search_by_search_page_menu">Search by...</label>
                                <div class="form-group" id="search-by">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="searchBy"
                                               id="search-by-name-author" value="name-author" checked>
                                        <label class="custom-control-label name-and-author-loc" for="search-by-name-author" id="name_author_search_by">
                                            name and author
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input " type="radio" name="searchBy" id="search-by-name"
                                               value="name">
                                        <label class="custom-control-label name-loc" for="search-by-name" id="name_search_by">
                                            name
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="searchBy"
                                               id="search-by-author" value="author">
                                        <label class="custom-control-label author-loc" for="search-by-author" id="author_search_by">
                                            author
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group sidebar-item col-lg-12 col-md-4 col-sm-6 col-12">
                                <label for="input-categories" class="font-weight-bold categories-loc" id="categories_search_page_menu">Categories</label>
                                <div id="input-categories">
                                </div>
                            </div>
                            <div class="form-group sidebar-item col-lg-12 col-md-4 col-sm-6 col-12">
                                <input class="custom-control-input col-sm-6" type="checkbox" id="check-available" value="true">
                                <label class="custom-control-label available-loc font-weight-bold" for="check-available">Available books</label>
                            </div>
                            <div class="form-group sidebar-item col-lg-12 col-md-4 col-sm-6 col-12">
                                <label for="input-price" class="font-weight-bold " id="price_search_page_menu"><span class="price-loc">Price</span>, €</label>
                                <div class="form-row" id="input-price">
                                    <div class="col-auto mb-1">
                                        <input type="number" step="any" min="0" class="form-control from-form" id="input-price-from"
                                               name="priceFrom" placeholder="From">
                                    </div>
                                    <div class="col-auto">
                                        <input type="number" step="any" min="0" class="form-control to-form" id="input-price-to"
                                               name="priceTo" placeholder="To">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group sidebar-item col-lg-12 col-md-4 col-sm-6 col-12">
                                <label for="input-year-edition" class="font-weight-bold year-of-edition-loc" id="edition_search_page_menu">Year of edition</label>
                                <div class="form-row" id="input-year-edition">
                                    <div class="col-auto mb-1">
                                        <input type="number" min="0" class="form-control from-form" id="input-year-of-edition-from"
                                               name="yearOfEditionFrom" placeholder="From">
                                    </div>
                                    <div class="col-auto">
                                        <input type="number" min="0" class="form-control to-form" id="input-year-of-edition-to"
                                               name="yearOfEditionTo" placeholder="To">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group sidebar-item col-lg-12 col-md-4 col-sm-6 col-12">
                                <label for="input-pages" class="font-weight-bold number-of-pages-loc" id="pages_search_page_menu">Number of pages</label>
                                <div class="form-row" id="input-pages">
                                    <div class="col-auto mb-1">
                                        <input type="number" min="0" class="form-control from-form" id="input-pages-from"
                                               name="pagesFrom" placeholder="From">
                                    </div>
                                    <div class="col-auto">
                                        <input type="number" min="0" class="form-control to-form" id="input-pages-to"
                                               name="pagesTo" placeholder="To">
                                    </div>

                                </div>
                            </div>
                            <button id="search-submit" class="btn btn-block btn-success search-submit-loc" type="button">
                                Search
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <!--    Footer    -->
        <div class="footer pt-3 p-0 container-fluid text-center" th:replace="home-old :: footer">
        </div>
    </div>
    <script src="/static/js/utils/search.js"></script>
    <script src="/static/js/utils/liveSearch.js"></script>
</div>
</body>
<!--search.html-->
</html>