<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>


    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


</head>
<body>


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PP09</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <th:authorize access="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </th:authorize>
        </li>
    </ul>
</nav>

<div class="row">
    <div class="col-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a th:href="@{/admin}" class="nav-link">Admin</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user}" class="nav-link active">User</a>
            </li>
        </ul>

    </div>


    <div class="col-9 mt-3">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                 aria-labelledby="v-pills-profile-tab">
                <h1>User page</h1>
                <div class="tab-content tab - border mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="table">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">User</li>
                            </ul>


                            <table class="table table-striped ">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Password</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:utext="${messages.id}"></td>
                                    <td th:utext="${role}"></td>
                                    <td th:utext="${messages.username}"></td>
                                    <td th:utext="${messages.password}"></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>


            </div>

        </div>
    </div>
</div>


</body>
</html>